.header-wrap button{
    border: none;

    outline: none;
    height: 30px;

    width: 100px;

    cursor: pointer;
    border-radius: 5px;
    background-color: #6ab2da;
    color: aliceblue;
}

.header-wrap button:hover{
    background-color: #0d6696;
    color: aliceblue;
}
.header-wrap{
    height: 70px;
    width: 100%;
    flex: 0 0 auto;
    background-color: #1295db;
}

.header{
    box-sizing: border-box;
    width: 1100px;
    height: auto;
    margin: 0 auto;
}


.logo, .login ul, .login{
    display: inline;

}
.logo{
    height: 60px;
}

.logo h3{
    font-size: 40px;
    color: aliceblue;
    padding-bottom: 10px;
    margin-block-start:0;
}

.login{
    margin-top: 15px;
    float: right;
}

.header li, .header h3{
    display: inline;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    float: none;
    background-color: #0d669600;
}

.header ul{
    list-style: none;
    padding-inline-start: 0;
}
